{% extends 'base.html' %}

{% block content %}
	<h2>List of all groups</h2>
	<table class="table">
		<thead>
			<td>Group name</td>
			<td>Number of students</td>
			<td>Praeposter</td>
			<td></td>
			<td></td>
		</thead>
		<tbody>
			{% for group in groups %}
				<tr>
					<td><a href="{% url 'group_detail' group.slug %}">{{ group.name }}</a></td>
					<td>{{ group.student_set.count }}</td>
					<td>{{ group.praepostor}}</td>
					<td><a href="{% url 'update_group' group.slug %}" class="btn btn-xs btn-info">Edit</a></td>
					<td><a href="{% url 'delete_group' group.slug %}" class="btn btn-xs btn-danger">Delete</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="{% url 'add_group' %}" class="btn btn-info" >Add group</a>
{% endblock %}