{% extends 'base.html' %}
{% load edit_admin %}

{% block content %}
	<h2>List of all groups</h2>
	<table class="table">
		<thead>
			<td>Group name</td>
			<td>Number of students</td>
			<td>Praeposter</td>
			<td></td>
			<td></td>
		</thead>
		<tbody>
			{% for group in groups %}
				<tr>
					<td><a href="{% url 'group_detail' group.slug %}">{{ group.name }}</a></td>
					<td>{{ group.student_set.count }}</td>
					<td>{{ group.praepostor}}</td>
					{% if request.user.is_authenticated %}
						<td><a href="{% url 'update_group' group.slug %}" class="btn btn-xs btn-info">Edit</a></td>
						<td><a href="{% url 'delete_group' group.slug %}" class="btn btn-xs btn-danger">Delete</a></td>
						<td><a href="{% edit_object group %}" class="btn btn-xs btn-danger">Edit in admin</a></td
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if request.user.is_authenticated %}
		<a href="{% url 'add_group' %}" class="btn btn-info" >Add group</a>
	{% endif %}
	<div class="row">
		<div class="col-sm-6"><h4>Installed apps: </h4><br>
			{% for app in settings.INSTALLED_APPS %}
				<h5>{{ forloop.counter }}: {{ app }}</h5>
			{% endfor %}
		</div>
		<div class="col-sm-6"><h4>Middleware classes: </h4><br>
				{% for mid_class in settings.MIDDLEWARE_CLASSES %}
					<h5>{{ forloop.counter }}: {{ mid_class }}</h5>
				{% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6"><h4>Template options: </h4><br>
			{% for processor in settings.TEMPLATES.0.OPTIONS.context_processors %}
				<h5>{{ forloop.counter }}: {{ processor }}</h5>
			{% endfor %}
		</div>
		<div class="col-sm-6"><h4>WSGI application: </h4><br>
			{{ settings.WSGI_APPLICATION }}
		</div>
	</div>
{% endblock %}