{% extends 'base.html' %}

{% block content %}
	<h2>List of all groups</h2>
	<table class="table">
		<thead>
			<td>Group name</td>
			<td>Number of students</td>
			<td>Praeposter</td>
			<td></td>
			<td></td>
		</thead>
		<tbody>
			{% for group in groups %}
				<tr>
					<td><a href="{% url 'group_detail' group.slug %}">{{ group.name }}</a></td>
					<td>{{ group.student_set.count }}</td>
					<td>{{ group.praepostor}}</td>
					{% if request.user.is_authenticated %}
						<td><a href="{% url 'update_group' group.slug %}" class="btn btn-xs btn-info">Edit</a></td>
						<td><a href="{% url 'delete_group' group.slug %}" class="btn btn-xs btn-danger">Delete</a></td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if request.user.is_authenticated %}
		<a href="{% url 'add_group' %}" class="btn btn-info" >Add group</a>
	{% endif %}
	<div class="row">
		<div class="col-sm-2"><p>Installed apps: </p><br>{{ settings.INSTALLED_APPS }}</div>
		<div class="col-sm-4"><p>Middleware classes: </p><br>{{ settings.MIDDLEWARE_CLASSES }}</div>
		<div class="col-sm-4"><p>Template options: </p><br>{{ settings.TEMPLATES.0.OPTIONS.context_processors }}</div>
		<div class="col-sm-2"><p>WSGI application: </p><br>{{ settings.WSGI_APPLICATION }}</div>
	</div>
{% endblock %}